body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

nav {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e6e6;
}

#foodn {
    font-size: 50px;
}

.header-left {
    width: 30%;
    text-align: center;
}

.header-right {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.header-right a {
    width: 25%;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.sectionA {
    display: flex;
    margin-bottom: 80px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
    margin-right: 100px;
}

.half-width h1 {
    font-size: 60px;
    color: #4d4d4d;
}

.half-width p {
    color: #595959;
}

span {
    color: orange;
}

.anchor-button {
    margin-top: 10px;
    text-decoration: none;
    background: linear-gradient(45deg, #fc4558, #fd951d);
    padding: 15px 25px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
}

.half-widthtext {
    margin-top: 150px;
    margin-left: 100px;
}

.sectionB {
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.half-widthB {
    width: 50%;
}

.half-widthB img {
    width: 50%;
    margin-left: 200px;
}

#halfwidBthTaxt {
    width: 350px;
    margin-top: 200px;
}

.half-widthB h1 {
    font-size: 30px;
    color: #4d4d4d;

}

.half-widthB p {
    font-size: 18px;
    color: #595959;
    margin-bottom: 40px;
}

.Recipie {
    width: 500px;
    text-align: center;
    float: inline-start;
    margin-left: 400px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.Recipie h1 {
    color: #4d4d4d;
    ;
}

.Recipie p {
    color: #595959;
}

.sectionD {
    display: flex;
    margin-bottom: 90px;
}

.Recipies-item {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    color: black;
    box-shadow: 8px 8px 50px #595959;
    border-radius: 20px;
    height: 400px;
    width: 50%
}

.Recipies-item img {
    width: 250px;
}

.Recipies-img {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.sectionD h3 {
    font-weight: 900;

}
.sectionE{
    display: flex;
    align-items: center;
    color: black;
    box-shadow: 8px 8px 50px #595959;
    border-radius: 20px;
    margin-left: 150px;
    height: 150px;
    width: 80%
    
}
.social{
    width: 30%;
    text-align: center;
    margin-top: 18px;
}
.social h1{
    font-weight: bolder;
}